<% provide(:title, 'All Staffs') %>
<h1>スタッフ一覧</h1>
 <div class="new-btn">
   <%= link_to "新規登録", new_staff_path, class: "btn-gradient-3d-green" %>
 </div>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-staffs">
    <thead>
      <tr>
        <th>スタッフ番号</th>
        <th>名前</th>
        <th>かな</th>
        <th>性別</th>
        <th>アドレス</th>
        <th>電話番号</th>
      </tr>
    </thead>

    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.staff_number %></td>
        <td><%= link_to "#{staff.name}", staff, class: "btn btn-link" %></td>
        <td><%= staff.kana %></td>
        <td><%= staff.sex %></td>
        <td><%= staff.email %></td>
        <td><%= staff.phone_number %></td>
        <td>
          <% if current_user.admin? && !current_user?(staff) %>
            <%= link_to "削除", staff, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
        <td>
          <% if current_user.admin? && !current_user?(staff) %>
            <%= link_to "編集", edit_staff_path(staff), class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>