<script> 
  $(function() {
    setTimeout("$('.alert').fadeOut('slow')", 2500);
  });
</script> 

<% provide(:title, "Top") %>
<div class="container">
  <div class="fluid-box"> <!-- 画面いっぱいに表示する背景用 -->
   <div class="container fluid-box-inner">
      <% flash.each do |message_type, msg| %>
        <div class="alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
   </div>
  </div>
</div>
<div class="center-band">Nagomi Systemへ, ようこそ!</div>
  <div class="subject">
    <h3><i class="fas fa-broom fa-lg"></i> サービス一覧</h3>
      <ul>
        <div class="service">
          <li>
            <dl>
              <dt><div class="image"></div></dt>    
              <dd>
                <p>説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。
                </p>
              </dd>
            </dl>
          </li>
        </div>
      </ul>
    <div class="subject-right">
    <%= link_to "サービス一覧詳細へ", "#", class: "btn-gradient-3d-simple"%>
    </div>
    <hr class="bar">
    <h3><i class="fab fa-youtube fa-lg youtube-red"></i> 作業風景</h3>
      <ul>
        <div class="service">
          <li>
            <dl>
              <dt><div class="image"></div></dt>    
              <dd>
                <p>説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。
                </p>
              </dd>
            </dl>
          </li>
        </div>
      </ul>
    <div class="subject-right">
    <%= link_to "作業風景覧詳細へ", "#", class: "btn-gradient-3d-simple"%>
    </div>
    <hr class="bar">
    <h3><i class="fab fa-line fa-lg line-green"></i> 電話予約</h3>
      <ul>
        <div class="service">
          <li>
            <dl>
              <dt><div class="image"></div></dt>    
              <dd>
                <p>説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。説明本文がここに入ります。
                </p>
              </dd>
            </dl>
          </li>
        </div>
      </ul>
    <div class="subject-right">
    <%= link_to "電話予約状況へ", "#", class: "btn-gradient-3d-simple"%>
    </div>
  </div>
<div class="footer">
  <div class="footer-base">
    <div class="footer-logo">Nagomi</div>
      <div class="footer-item">
        <p>お急ぎの方は電話で相談 (平日9:00〜18:00)</p>
      </div>
      <div class="footer-tel">
        <p><i class="fas fa-phone"></i> 090-1234-5678</p>
      </div>
  </div>
</div>
