<!DOCTYPE html>
<html>
  <head>
    <meta content='text; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1><%= @work_reservation.user.name %>様、この度は、Nagomiをご利用いただきありがとうございます。</h1>
      <p>
      Nagomiへのご予約内容が確定いたしました。<br>
      </p>
      <p>予約内容は</p>
      <p>メイン項目
      「<% if @work_reservation.main_menu.present? %>
          <%= @work_reservation.main_menu.delete("(""""[])") %>
        <% else %>
          なし
        <% end %>」</p>
      <p>オプション
      「<% if @work_reservation.option_menu.present? %>
          <%= @work_reservation.option_menu.delete("(""""[])") %>
        <% else %>
          なし
        <% end %>」</p>
      <p>作業内容
      「<% if @work_reservation.reservation_work.present? %>
          <%= @work_reservation.reservation_work %>
        <% else %>
          なし
        <% end %>」</p>
      <p>お伺いする日付「<%= @work_reservation.worked_on.to_s(:date) %>」</p>
      <p>お伺いする時間「<%= @work_reservation.start_times.to_s(:hour) %>時<%= @work_reservation.start_times.to_s(:min) %>分」</p>
      <p>作業合計金額「<%= @work_reservation.price %>円」</p>
      <p>でございます。</p>
      <p>このサイトにログインするには、<%= @url %>　をクリックしてください。</p>
      <p>なにかご不明な点はLine@ <%= @line %>　で対応させていただきます。</p>
      <p>気軽にお申し付けくださいませ。</p>
      <p>こちらのメールは領収書として扱われます。メール削除せずにお客様のお手元に厳重に管理下さい。</p>
      <p>Nagomiを今後ともよろしくお願いいたします。</p>
  </body>
</html>