<% provide(:title, "作業内容一覧") %>

<script>
  $(function() {
    setTimeout("$('.alert').fadeOut('slow')", 2500);
  });
</script>

<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
  <div class="tool-index-body">
    <div class="container fluid-box-index">
      <% flash.each do |message_type, msg| %>
        <div class="alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
    </div>
    <section class="user-index">
      <div class="container">
        <h1 class="index-title-post">作業内容一覧</h1>
      </div>
    </section>
      <div class="new-btn">
        <%= link_to "新規登録", new_work_path, class: "btn-gradient-3d-green" %>
      </div>
      <div class="row">
        <div class="col-md-offset-8 col-md-3 form-center-search">
        </div>
      </div>
    <section class="section">
      <div class="container">
        <hr class="tool-bar">
         <% @works.each do |work| %>
          <div class="row">
              <div class="col-md-2">
                <div class="grid-item-image"><%= attachment_image_tag work, :profile_image, fallback: "no_image.png", class: "index-photo"%></div>
              </div>
              <div class="col-md-2 tool--item">
                <%= work.content_name %>
              </div>
              <div class="col-md-1 tool--item">
                <%= work.content %>
              </div>
              <div class="col-md-1 tool--item">
                <%= work.content_price %> 円
              </div>

              <div class="col-md-1 tool--item">
                <%= link_to "編集", edit_work_path(work), class: "btn-gradient-3d-simple" %>
              </div>
              <div class="col-md-1 btn--del">
                <%= link_to "削除", "/works/#{work.id}", method: :delete, class: "btn-gradient-3d-orange", data: { confirm: "作業内容を削除してよろしいですか？" } %>
              </div>
            </div>
            <hr class="tool-bar">
          <% end %>
      </div>
    </section>
  </div>
