<div class="work-user-index-body">
  <h1 class="work-user-index">ハウスクリーニング</h1>
    <div class="work-user-title">
      <h2 class="work-title-name-room">お部屋の掃除</h2>
    </div>
    <div class="btn-work-user-room">
      <%= link_to "詳細はこちら", "#", class: "btn-gradient-3d-blue" %>
    </div>
  　<div class="work-user-container">
      <div class="works">
        <h2 class="works-name">一部屋　6畳</h2>
          <div class="image">
            <%= image_tag "6_tatami.jpg" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>
                お部屋の掃除、片付け、整理整頓を行います。              </p>
          </div>
      </div>
      <div class="works">
        <h2 class="works-name">一部屋　8畳</h2>
          <div class="image">
            <%= image_tag "8_tatami.jpg" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>お部屋の掃除、片付け、整理整頓を行います。</p>
          </div>
      </div>
      <div class="works">
        <h2 class="works-name">おうち　まるごと</h2>
          <div class="image">
            <%= image_tag "1_room.jpg", size: "270x200" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>お部屋の掃除、片付け、整理整頓を行います。</p>
          </div>
      </div>
    </div>
    <div class="work-user-title-kitchen">
      <h2 class="work-title-name-kitchen">キッチンまわりの掃除</h2>
    </div>
    <div class="btn-work-user">
      <%= link_to "詳細はこちら", "#", class: "btn-gradient-3d-blue" %>
    </div>
    <div class="work-user-container">
      <div class="works">
        <h2 class="works-name">換気扇</h2>
          <div class="image">
            <%= image_tag "vent-fan" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>お部屋の中にニオイが溜まっていませんか？
                　Nagomiでは細かい部分に付いたしつこい油汚れもきっちり洗浄して
                清潔な空間で過ごせるようになります。</p>
          </div>
      </div>
      <div class="works">
        <h2 class="works-name">シンク</h2>
          <div class="image">
            <%= image_tag "sink.jpg" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
        <div class="coment">
          <span class="box-title">POINT !</span>
            <p>キッチンをピカピカに仕上げ、気持ち良くお料理できるようになります。</p>
        </div>
      </div>
      <div class="works">
        <h2 class="works-name">レンジまわり</h2>
          <div class="image">
            <%= image_tag "range.jpg" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>キッチンをピカピカに仕上げ、気持ち良くお料理できるようになります。</p>
          </div>
      </div>
    </div>
    <div class="work-user-title-water">
      <h2 class="work-title-name-water">水まわりの掃除</h2>
    </div>
    <div class="btn-work-user">
      <%= link_to "詳細はこちら", "#", class: "btn-gradient-3d-blue" %>
    </div>
    <div class="work-user-container">
      <div class="works">
        <h2 class="works-name">トイレ</h2>
          <div class="image">
            <%= image_tag "toilet.jpg" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>日頃のお掃除では落としきれない細部から床や壁（材質によります）まで、
              　　全体的にきれいに仕上げます！</p>
          </div>
      </div>
      <div class="works">
        <h2 class="works-name">風呂場</h2>
          <div class="image">
            <%= image_tag "bath.jpg" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>カビや水アカなど様々な汚れが付きやすい場所です。
              Nagomiでは独自の掃除方法で浴槽から床、壁、天井、窓などのお風呂場１式をキレイに仕上げます！</p>
          </div>
        </div>
      <div class="works">
        <h2 class="works-name">洗面所</h2>
          <div class="image">
            <%= image_tag "washroom.jpg", size: "260x200"%>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>化粧品や整髪料の汚れやカビ、水アカが付きやすい場所です。
              適切な洗剤を使用し洗面ボウルから鏡、蛇口までキレイに仕上げます！</p>
          </div>
      </div>
    </div>
    <div class="work-user-title-outside">
      <h2 class="work-title-name-outside">外まわりの掃除</h2>
    </div>
    <div class="btn-work-user">
      <%= link_to "詳細はこちら", "#", class: "btn-gradient-3d-blue" %>
    </div>
    <div class="work-user-container">
      <div class="works">
        <h2 class="works-name">玄関</h2>
          <div class="image">
            <%= image_tag "entrance.jpg", size: "260x200" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>掃き掃除、汚れ除去してキレイに仕上げます！</p>
          </div>
      </div>
      <div class="works">
        <h2 class="works-name">庭</h2>
          <div class="image">
            <%= image_tag "garden.jpg", size: "260x200" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>草刈り、草むしりキレイにさっぱり仕上げます！</p>
          </div>
      </div>
      <%
=begin%>
 <div class="works">
        <h2 class="works-name">#倉庫</h2>
          <div class="image">
            <%= image_tag "store_room.jpg", size: "260x200" %>
              <div class="note">
                <p>写真はイメージです。</p>
              </div>
          </div>
          <div class="coment">
            <span class="box-title">POINT !</span>
              <p>コメント</p>
          </div>
      </div> 
<%
=end%>
    </div>
</div> 
