<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">予約状況</h1>
      <h1><%= @day %></h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-3">
           <% @work_reservations.each do |work_reservation, user| %>
             <table class="table table-bordered table-condensed">
               <thead>

              </thead>

              <tbody>
                 <tr><th colspan="2">名前</th><td colspan="2"><%= work_reservation.user.name %></td></tr>
                 <tr><th colspan="2">TEL</th><td colspan="2"><%= work_reservation.user.phone_number %></td></tr>
                 <tr><th colspan="2">住所</th><td colspan="2"><%= work_reservation.user.address %></td></tr>
                 <tr><th colspan="2">メイン予約項目</th><td colspan="2"><%= work_reservation.main_menu.delete(",[]") %></td></tr>
                 <tr><th colspan="2">オプション予約項目</th><td colspan="2"><%= work_reservation.option_menu.delete("(""""[])") %></td></tr>
                 <tr><th colspan="2">作業内容</th><td colspan="2"><%= work_reservation.reservation_work %></td></tr>
                 <tr><th colspan="2">訪問日</th><td colspan="2"><%= work_reservation.worked_on.to_s(:date) %></td></tr>
                 <tr><th colspan="2">作業開始時間</th><td colspan="2"><%= work_reservation.start_times.to_s(:hour) %>時<%= work_reservation.start_times.to_s(:min) %>分</td></tr>
                 <tr><th colspan="2"></th><td colspan="2">
                      <%= link_to "メール送信", edit_work_reservation_path(work_reservation), data: { confirm: "メールを送信してもよろしいですか？" }, class: "btn btn-success" %>
                      <%= link_to "編集", edit_work_reservation_path(work_reservation), class: "btn btn-warning" %>
                      <%= link_to "送るメールの内容を確認する", reservation_confirmed_user_path(work_reservation.user_id), class: "btn btn-info" %>
                      <%= link_to "削除", work_reservation, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
                  </td></tr>

              </tbody>
             </table>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
