<% provide(:title, "メールを確認し送信") %>
<% provide(:class_text, 'staff--edit') %>
<% provide(:button_text, '更新') %>

<h1><%= @user.name %>様へメール内容</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @user.name %>様へメール内容</h1>
    <% @work_reservations.each do |work_reservation, user| %>
      <%= work_reservation.user.name %>
      <%= work_reservation.user.kana %>
      <%= work_reservation.user.sex %>
      <%= work_reservation.user.phone_number %>
      <%= work_reservation.user.address %>
      <%= work_reservation.user.line_id %>
      <%= work_reservation.main_menu.delete(",[]") %>
      <%= work_reservation.option_menu.delete("(""""[])") %>
      <%= work_reservation.reservation_work %>
      <%= work_reservation.worked_on.to_s(:date) %>
      <%= work_reservation.start_times.to_s(:hour) %>時<%= work_reservation.start_times.to_s(:min) %>分
    <% end %>
    <%= form_with(model: @work_reservation, url: reservation_confirmed_mail_user_path, local: true, method: :patch) do |f| %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.submit "#{@user.name}様へ送信する", data: { confirm: "メールを送信してもよろしいですか？" }, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
