<% provide(:title, "メールを確認し送信") %>
<% provide(:class_text, 'staff--edit') %>
<% provide(:button_text, '更新') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @work_reservation.user.name %>様へメール内容</h1>
       名前：<%= @work_reservation.user.name %></br>
       フリガナ：<%= @work_reservation.user.kana %></br>
       性別：<%= @work_reservation.user.sex %></br>
       メールアドレス：<%= @work_reservation.user.email %></br>
       電話番号：<%= @work_reservation.user.phone_number %></br>
       住所：<%= @work_reservation.user.address %></br>
       Line ID：<%= @work_reservation.user.line_id %></br>
       メインメニュー：<%= @work_reservation.main_menu.delete(",[]") %></br>
       オプションメニュー：<%= @work_reservation.option_menu.delete("(""""[])") %></br>
       作業内容：<%= @work_reservation.reservation_work %></br>
       訪問日：<%= @work_reservation.worked_on.to_s(:date) %></br>
       作業開始時間：<%= @work_reservation.start_times.to_s(:hour) %>時<%= @work_reservation.start_times.to_s(:min) %>分</br>

     <%= form_with(model: @work_reservation, url: reservation_confirmed_mail_user_path(@work_reservation), local: true, method: :patch) do |f| %>
       <%= f.label :送信許可, class: "label-#{yield(:class_text)}" %>
       <%= f.check_box :reservation_mark ,{}, "true", "false" %></br>
       <%= f.submit "以上の内容をお客様へ送信する", data: { confirm: "メールを送信してもよろしいですか？" }, class: "btn btn-primary" %>
     <% end %>
  </div>
</div>
