<% provide(:title, 'Video 一覧') %>
<div class="tool-index-body">
<div class="container">
  <h1>動画コーナー</h1>
  <div class="row" >
    <div class="col-md-8 col-md-offset-2">
      <% if @videos.count < 1 %><%#= データの数で %>
        <h1>只今、準備中です。。。</h1>
      <% else %>
        <% @videos.each do |video| %>
          <div class="title">
            <p>タイトル：<%= video.title %></p>
          </div>
          <div class="video">
            <iframe width="750" height="500" src="https://www.youtube.com/embed/<%= video.body %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <% if current_staff.present?  %> <%#= current_userが存在し、かつ管理者の場合表示させる %>
            <div class="botton">
              <td>
                <%= link_to "編集", edit_video_path(video), class: "btn btn-lg btn-primary" %>
              </td>
              <td>
                <%= link_to "削除", video , method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-lg btn-danger" %>
              </td>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="botton2">
      <td>
        <%= link_to "ホームへ", root_path, class: "btn btn-lg btn-primary" %>
      </td>
      <% if current_staff.present? %> <%#= current_staffが存在し、かつ管理者の場合表示させる %>
        <td>
          <%= link_to "新規追加", new_video_path, class: "btn btn-lg btn-primary" %>
        </td>
      <% end %>
    </div>
  </div>
</div>
</div>
