<h1>WorkReservations#edit</h1>
<h1>予約状況編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @work_reservation, url: work_reservation_path(@work_reservation), local: true, method: :patch) do |f| %>

      <%= f.label :作業内容, class: "label-#{yield(:class_text)}" %>
      <%= f.text_area :reservation_work, class: "form-control" %>

      <%= f.label :訪問日, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :worked_on, class: "form-control" %>

      <%= f.submit "予約を作成する", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>