<% provide(:title, "作業予約状況") %>

<script>
  $(function() {
    setTimeout("$('.alert').fadeOut('slow')", 2500);
  });
</script>
  <h1>作業予約状況</h1>
  <% if @phone_reservation_number == 0 %>
    <p align="center">【電話予約なし】</p>
    <p align="center"><%= link_to "【電話履歴へ】", old_index_users_phone_reservations_path	, class: "btn btn-lg btn-primary" %>
    </p>
  <% else %>
    <p align="center">
    <i class="fas fa-bell fa-fw fa-lg "></i>
      <%= link_to "【電話予約#{@phone_reservation_number}件】", index_users_phone_reservations_path, :style=>"color:red;" %></p>
  <% end %>
    <p align="right"><%= link_to "新規作業予約を登録する", new_work_reservation_user_path(current_staff), class: "btn btn-success" %></p>
    <p align="right"><%= link_to "作業履歴を確認する", work_histories_path, class: "btn btn-info" %></p>
    <p align="center"><%= link_to "作業予約件数", work_reservation_number_work_reservations_path , remote: true, class: "btn btn-warning" %></p>

  <div class= 'calender'>
    <% array = [] %>
      <%= month_calendar events: @work_reservations do |date, work_reservations| %>
        <%= date.day %></br>
          <% work_reservations.each do |work_reservation| %>
            <% array.push(work_reservation) %>
              <% @array = array %>
              <%= link_to "【予約No#{@array.count}】", edit_reservation_status_user_path(current_staff, params:{ day: date }), remote: true %>
              <i class="fa fa-circle notification-circle" style="color: red;"></i></br>
          <% end %>
      <% end %>
  </div>
  <div id="work-reservation-number" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="edit-reservation-status" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
