<div class="calendar">
  <table class="table table-bordered">
    <thead>
      <tr>
        <% if Date.today == @first_day %>
          <th style="width: 8%" rowspan="2"><p class="week">前の2週間</p></th>
        <% else %>
          <th style="width: 8%" rowspan="2"><p class="week"><%= link_to "前の2週間", phone_reservations_path(date: @first_day.ago(14.days)), class: "week-prev" %></p></th>
        <% end %>
          <th colspan="14"><%= l(Date.today, format: :long) %></th>
          <th style="width: 8%" rowspan="2"><p class="week"><%= link_to "次の2週間", phone_reservations_path(date: @first_day.since(14.days)), class: "week-next"%></p></th>
      </tr>
      <% @phone_reservations.each do |day| %> 
        <th class="day-cell">
          <%= l(day.worked_on, format: :short) %><br>
          <% if day.worked_on.wday ==6 %>
            <font color="#00f">(<%= $days_of_the_week[day.worked_on.wday] %>)</font>
          <% elsif day.worked_on.wday == 0 %>
            <font color="#f00">(<%= $days_of_the_week[day.worked_on.wday] %>)</font>
          <% else %>
            <font color="#000">(<%= $days_of_the_week[day.worked_on.wday] %>)</font>
          <% end %>  
        </th>
      <% end %>
    </thead>
    <tbody>
      <% @day_time.each do |time| %> 
        <tr>
          <td><%= time %></td>
            <% @phone_reservations.each do |day| %>
              <td><%= link_to "◎", edit_phone_reservation_path(day.id, time), remote: true, class: "mark" %></td>
            <% end %>  
          <td><%= time %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

