<div class="calendar">
  <table class="table table-bordered">
    <thead>
      <tr>
          <th rowspan="2"><%= link_to "前の一週間", "#", class: "week-prev" %></th>
          <th colspan="14"><%= l(Date.current, format: :long) %></th>
          <th rowspan="2"><%= link_to "次の一週間", "#", class: "week-next"%></th>
      </tr>
      <tr>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
      </tr>
      <%# @phone_reservations.each do |day| %>
      <div class="row">
        <div> 
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
          <tr>
            <th class="day-cell">1</th>
          </tr>
        </div>
        <td>
          <table border>
            <tr>
              <% @times.each do |time| %>
                <tr>
                  <% @ids.each do |id| %>
                      <td style="font-size : 25px;"><%= link_to "◎", information_page_phone_reservation_path(id,time:time), remote: true %><%= id %><%= time %></td>
                  <% end %>
                </tr>
              <% end %>
            </tr>
          </table>
        </td>
      </div>

      <%# end %>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>