<% provide(:title, "Line電話の予約") %>

<div>
  <h1>Line電話予約申し込み者一覧</h1>
  <h1>Line電話予約申し込み者一覧</h1>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th>予約ID</th>
          <th>日付</th>
          <th>時間</th>
          <th>ユーザーID</th>
          <th>ユーザー名</th>
          <th>LINE ID</th>
          <th>LINE 電話</th>
        </tr>
      </thead>

      <% @phone_reservations.each do |phone_reservation| %>
        <tr>
          <td><%= phone_reservation.id %></td>
          <td><%= phone_reservation.worked_on %></td>
          <td><%= phone_reservation.line_time %></td>
          <td><%= phone_reservation.user_id %></td>
          <td><%= phone_reservation.user_id %></td>
          <td><%= phone_reservation.user_id %></td>
          <td>
            <%= link_to "完了", "#", class: "btn btn-sm btn-primary" %>
            <%= link_to "削除", "#", class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>