<% provide(:title, "Line電話の予約申込一覧") %>

<div>
  <h1>Line電話予約申し込み者一覧</h1>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th>予約ID</th>
          <th>日付</th>
          <th>時間</th>
          <th>ユーザーID</th>
          <th>ユーザー名</th>
          <th>LINE ID</th>
          <th>完了</th>
          <th>削除</th>
        </tr>
      </thead>

      <% @phone_reservations.each do |phone_reservation| %>
        <% user = User.find(phone_reservation.user_id) %>
        <tr>
          <td><%= phone_reservation.id %></td>
          <td><%= phone_reservation.worked_on %></td>
          <td><%= phone_reservation.line_time %></td>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td>
            <% if user.line_id.present? %>
              <%= user.line_id %>
            <% else %>
              なし
            <% end %>
          </td>
          <td>
            <%= form_with(model: @phone_reservation, url: update_index_users_phone_reservations_path(id:phone_reservation.id), local: true, method: :patch) do |f| %>
              <%= f.submit "完了",data: { confirm: "完了してよろしいでしょうか" }, class: "btn btn-sm btn-primary" %>
            <% end %>
          </td>
          <td>
            <%= form_with(model: @phone_reservation, url: update_index_users_phone_reservations_path(id:phone_reservation.id), local: true, method: :patch) do |f| %>
              <%= f.submit "削除",data: { confirm: "解除してよろしいでしょうか" }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="botton2">
      <td>
        <%= link_to "履歴へ", old_index_users_phone_reservations_path	, class: "btn btn-lg btn-primary" %>
      </td>
    </div>
  </div>
</div>