<% provide(:title, "Line電話の休み一覧") %>

<div>
  <h1>Line電話の休み一覧</h1>
  <div class="col-md-6 col-md-offset-3">
    <% if @phone_reservations.count > 0 %>
      <table class="table table-condensed table-hover" id="table-users">
        <thead>
          <tr>
            <th>データID</th>
            <th>日付</th>
            <th>時間</th>
            <th>時間</th>
          </tr>
        </thead>

        <% @phone_reservations.each do |phone_reservation| %>
          <tr>
            <td><%= phone_reservation.id %></td>
            <td><%= phone_reservation.worked_on %></td>
            <td><%= phone_reservation.line_time %></td>
            <td>
            <%= form_with(model: @phone_reservation, url: update_holidays_phone_reservations_path(id:phone_reservation.id), local: true, method: :patch) do |f| %>
              <%= f.submit "休みを解除する",data: { confirm: "解除してよろしいでしょうか" }, class: "btn btn-sm btn-primary" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h2>現在、休み設定はありません</h2>
    <% end %>
      <div class="botton2">
        <td>
          <%= link_to "電話予約一覧へ", phone_reservations_path, class: "btn btn-lg btn-primary" %>
        </td>
      </div>
  </div>
</div>