<header class="navbar navbar-fixed-top navbar-dark" style="background-color:#F0F8FF;">
  <div class="container">
  <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
    <%= link_to "Nagomi", root_path, id: "logo" %>
    <nav>
      <ul class="navbar-right">
        <li><i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;<%= link_to "トップ", root_path %></li>
        <% if signed_in? %> <%# ログインしているかどうか %>
          <% if current_staff.present? %> <%# スタッフとしてログインしているかどうか %>
            <li><i class="fas fa-broom fa-lg"></i> <%= link_to "サービス一覧", user_index_works_path %> </li>
            <li><i class="fab fa-line fa-lg line-green"></i> <%= link_to "電話予約状況", phone_reservations_path %></li>
            <li><i class="far fa-calendar-alt fa-fw fa-lg"></i> <%= link_to "作業予約", work_reservation_path(current_staff) %></li>
            <li><i class="fas fa-user-circle fa-lg"></i></i> <%= link_to "お客様情報", users_path %></li>
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="far fa-list-alt fa-lg"></i> 各種一覧 <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><%= link_to "社員", staffs_path(current_staff) %></li>
               <li><%= link_to "道具", tools_path(current_staff) %></li>
               <li><%= link_to "作業内容", works_path(current_staff) %></li>
               <li><%= link_to "動画", videos_path(current_staff) %></li>
             </ul>
            </li>
           <% else %> <%# 現ユーザーの場合  %>
            <li><i class="fas fa-broom fa-lg"></i> <%= link_to "サービス一覧", user_index_works_path %> </li>
            <li><i class="fab fa-youtube fa-lg youtube-red"></i> <%= link_to "作業風景", videos_path %>    </li>
            <li><i class="fab fa-line fa-lg line-green"></i> <%= link_to "電話予約状況", phone_reservations_path %>    </li>
            <li><i class="fas fa-car-side fa-lg"></i><%= link_to "サービス一エリア", '#'%>    </li>
           <% end %> <%# スタッフ or 管理者 or 一般ユーザとしてログインしているかどうかの判断終了 %>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ログアウト <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
             <% if current_staff.present? %> <%# deviseで別々のモデルを使用してるため2種類のdestroy_pathを用意 %>
              <li><%= link_to "ログアウト", destroy_staff_session_path, method: :delete %></li>
              <li><%= link_to "アカウント", show_account_staff_path(current_staff) %></li>
             <% else %>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "アカウント", show_account_user_path(current_user) %></li>
            </ul>
             <% end %>
          </li>
        <% else %> <%# ログインしていない場合 %>
           <li><i class="fas fa-broom fa-lg"></i>&nbsp;<%= link_to "サービス一覧", user_index_works_path%></li>
           <li><i class="fab fa-youtube fa-lg youtube-red"></i>&nbsp;<%= link_to "作業風景", '#'%></li>
           <li><i class="fab fa-line fa-lg line-green"></i>&nbsp;<%= link_to "電話予約状況", phone_reservations_path %></li>
           <li><i class="fas fa-car-side fa-lg"></i>&nbsp;<%= link_to "サービス一エリア", '#'%></li>
           <li><i class="far fa-comments fa-lg"></i>&nbsp;<%= link_to "お客様の声", reviews_path %></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ログイン <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "アカウント作成", new_user_registration_path %></li>
            </ul>
         </li>
        <% end %> <%# ログインしているかどうか終了 %>
      </ul>
    </nav>
  </div>
</header>